<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Draw</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/draw.css">
  </head>
  <body>
    <script>
      window.DrawENV = {{ENV}};
      window.EmberENV = window.DrawENV.EmberENV;
    </script>
    <script src="assets/vendor.js"></script>
    <script src="assets/draw.js"></script>
    <script>
      window.Draw = require('draw/app')['default'].create(DrawENV.APP);
    </script>
  </body>
</html>
