<div class="container">
  <div class="jumbotron">
    <h1>Win a T-shirt!</h1>
    <p class="lead">Enter your name, get lucky.</p>
  </div>
  <div class="row marketing">
    {{outlet}}
  </div>
  <div class="footer">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
