<div class="col-xs-8 col-xs-offset-2">
  <div id="name-entry" class="form-group">
    {{input type="text" id="new-name" placeholder="Who wants to win a T-shirt?" value=newName action="createName" class="form-control"}}
  </div>
  <ol id="names-list" class="">
    {{#each}}
    <li>
      {{name}} <span {{bind-attr class=":glyphicon isWinner:glyphicon-ok"}}></span>
    </li>
    {{/each}}
  </ol>
  <div id="winner" class="">
    {{#if model}}
    <button class="btn btn-primary" {{action "pickWinner"}}>And, the winner is...</button>
    <button class="btn btn-danger" {{action "clearNames"}}>Clear</button>
    {{else}}
    <p>No one wants to win an Ember T-shirt yet...?!</p>
    {{/if}}
  </div>
</div>
